*

!.github/
!.github/**

!csv_data/
!csv_data/*.csv
!csv_data/*.py
!csv_data/*.json

!oosit_strategies/
!oosit_strategies/*.py
!oosit_strategies/saved/
!oosit_strategies/saved/*.py
!oosit_strategies/index/
!oosit_strategies/index/*

!oosit_tgz_archives/
!oosit_tgz_archives/*.tgz
!oosit_tgz_archives/saved/
!oosit_tgz_archives/saved/*.tgz

!oosit_utils/
!oosit_utils/**

!jsons/
!jsons/*.json
jsons/target.json
jsons/parameter_customization.json
# never commit credentials!
jsons/email_config.json

!marketwatch/
!marketwatch/*
marketwatch/startup_log.txt

!demo/
!demo/*.py

!.gitignore

!README.md
!main.py
!quick.py
!viewer.py
!marketwatch.py
!marketwatch_nyse_scheduler.py
!parameter_sweeper.py
!parameter_analyzer.py

!marketwatch_scheduler_windows.bat
!setup_windows_autostart_hidden.bat
!remove_autostart.bat
!verify_autostart.ps1
!run_hidden.vbs

!marketwatch-scheduler.service
!marketwatch_scheduler_unix.sh
!setup_unix_autostart.sh

__pycache__